{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Quizit</title>
  {% include 'base/css.html' %}
  <style media="screen">
  html, body{
      height: 100%;
  }
  body {
      background-image:url("/static/img/notebook.jpg") ;
      background-position: center center;
      background-repeat:  no-repeat;
      background-attachment: fixed;
      background-size:  cover;
      background-color: #999;
      display: flex;
      min-height: 100vh;
      flex-direction: column;
  }
  main {
      flex: 1 0 auto;
  }
  </style>


</head>
<body >
<main>
<div class="container">
   <div class="row no-padding">

      <div class="col s12 m5 offset-m8">
          <h2 class="center-align white-text" style="font-family: Permanent Marker;">QUIZit</h2>
         <div class="card">
           <form method="post">{% csrf_token %}
            <div class="card-content">
               <span class="card-title black-text center-align"><b style="font-weight: 600;">Log-In</b></span>
               
                  <div class="row">
                     <div class="input-field col s12">
                        <input  id="username" name="username" type="text" class="validate">
                        <label for="username" class="active"><b>First Name</b></label>
                     </div>
                  </div>
                  <div class="row">
                     <div class="input-field col s12">
                        <input id="password" name="password" type="password" class="validate">
                        <label for="password" class="active"><b>Last Name</b></label>
                     </div>
                  </div>

            </div>
            <div class="card-action center">
              <button class="btn waves-effect waves-light" type="submit" name="action" style="width:50%">Submit
                <i class="material-icons right">send</i>
              </button>
            </div>
            </form>
         </div>
      </div>

   </div>
</div>


</main>
<footer class="page-footer transparent">
          <div class="footer-copyright" style="padding-left: 20px;font-size:18px;font-family: Permanent Marker;">
            <span class="black-text"> Designed by- &ensp;Bhushan Deshmukh </span>
            <span  class="grey-text text-lighten-4 right" style="padding-right: 20px;">© 2018</span>
          </div>
        </footer>
{% include 'base/js.html' %}

  </body>
</html>
