{% url 'home' as login_url %}
{% url 'logout' as logout_url %}

<div class="navbar-fixed" >
    <nav class="teal nav-extended">
      <div class="nav-wrapper">
        <div style="padding-left:15px;" class="left">
          {% block nav %}

          {% endblock %}
        </div>

        <a href="{{login_url}}" class="brand-logo center" style="font-family:Permanent Marker">Quizit</a>

        <ul class="right">
          {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{{logout_url}}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{login_url}}">Login</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{{cart_url}}">{{request.session.cart_items}}<i class="fa fa-shopping-cart" aria-hidden='True'></i></a>
          </li>
        </ul>
      </div>
    </nav>
</div>
