{% url 'home' as login_url %}
{% url 'logout' as logout_url %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Quizit</title>
  {% include 'base/css.html' %}

</head>
<body>
  <div class="row">

    <div class="col s1">
      <ul id="slide-out" class="sidenav sidenav-fixed" style="padding-top:30px">
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <div class="row">
            <div class="col s6 center">
              <button type="button" class="btn green" >Finish</button>
            </div>
            <div class="col s6 center">
              <button type="button" class="btn amber" href="{{logout_url}}"  name="button">Logout</button>
            </div>
          </div>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{login_url}}">Login</a>
        </li>
        {% endif %}
      <li><a href="#!">First Sidebar Link</a></li>
      <li><a href="#!">Second Sidebar Link</a></li>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>

    <div class="col">
      <!-- navbar-->


    </div>
      <!-- navbar end-->


      <div class="container col offset-s3">
        <h3 class="center" style="font-family:Permanent Marker" >Quizit</h3>
        {% block content %}
        {% endblock %}
      </div>

  </div>

{% include 'base/js.html' %}

  </body>
</html>
